:erb

  <div id="disqus_thread"></div>
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      // When in dev mode
      var disqus_developer = 1;
      var disqus_shortname = 'varoquadev'; // required: replace example with your forum shortname
      
      // The following are highly recommended additional parameters. Remove the slashes in front to use.
      var disqus_identifier = 'vgdev_<%= params[:controller] %>_<%= params[:id] %>';
      var disqus_url = '<%= request.url %>';
  
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
